# # Database & Auth
# MONGODB_URI=mongodb://localhost:27017/tech-store
# NEXTAUTH_SECRET=UWlNM3zVp/KvVu8m6ZOZutmtw3t1EU6tE0UCdRL//Xk=
# NEXTAUTH_URL=http://localhost:3000

# # Payment Gateway (Stripe) — fill in when you work on payments
# STRIPE_SECRET_KEY=
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# STRIPE_WEBHOOK_SECRET=

# # Image Hosting (ImgBB) — fill in when you work on image uploads
# NEXT_PUBLIC_IMGBB_API_KEY=5737f948384d183f8920104492cbb097

# # ---- Email / SMTP (Gmail) ----
# EMAIL_SERVER_HOST=smtp.gmail.com
# EMAIL_SERVER_PORT=587
# EMAIL_SERVER_USER=youraddress@gmail.com
# EMAIL_SERVER_PASSWORD=your16charapppassword
# EMAIL_FROM="Tech Store <youraddress@gmail.com>"
